.table{
    border-collapse: collapse;
    border: 2px solid #ddd;
    width: 100%;
    thead,tr{
        padding: 8px;
        text-align: left;
        color: #555;
        // display: flex;
        // flex: 1 1 0;
    }
    td,th{
        // flex-grow: 1;
        padding: 8px;
        border: 2px solid #ddd;
    }
    th{
        position: relative;
        cursor: pointer;
        &:active{
            background-color: #bbb;
        }
        .shiftRight{
            right:10px;
            font-size: larger;
            position: absolute;
        }
    }
}