.RightShow{
    overflow: hidden;
    margin-left:2px;
    width: 100%;
    display: flex;
    flex-flow: column;
    .top{
        background-color: white;
        width: 100%;
        .searchBox, .h2{ 
            margin: 20px 20px;
            max-width: 30%;
        }
        .cut{
            cursor: pointer;
            &:hover{
                color: red;
            }
        }
    }
    .bottom{
        background-color: white;
        width: 100%; 
        flex-grow: 1;
        margin-top: 2px;
        padding: 5%;

        .control{
            display: flex;
            .previous ,.next {
                border: 2px solid rgb(13, 200, 200);
                color: rgb(13, 200, 200);
                padding: 5px 15px;
                width: 100px;
                border-radius: 2px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                &:hover{
                    background-color: lightcyan;
                }
                &:disabled{
                    background-color: lightgray;
                    cursor: not-allowed;
                }
            }
            .previous{
                margin-left: auto;
            }
        }
    }
}