*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;

}
*::selection{
  background: #499596;
  color: #fff;
}

body {
  overflow-y: hidden;
  position: relative;

}
#loader{
  position: absolute; 
  width: 100%;
}